<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SmartNews-Opinion Extraction</title>
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">	
	<link rel="stylesheet" href="{% static 'css/3-col-portfolio.css' %}">
	<link rel="stylesheet" href="{% static 'css/jasny-boostrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
	
	<script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>
	<script src="{% static 'js/sidebar.js' %}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=http://127.0.0.1:8000/>SmartNews</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href= http://127.0.0.1:8000/politics/>News</a>
                    </li>
                    <li>
                        <a href="#">Timelines</a>
                    </li>
                    <li>
                        <a href=http://127.0.0.1:8000/search-post/>Opinions</a>
                    </li>
					<li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contacts</a>
                    </li>					
                </ul>
				<ul class="nav navbar-nav navbar-right">
				     <li>
                        <a>#Read news in a faster way</a>
                    </li>
				</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       
                    </a>
                </li>
                <li>
                    <a href=http://127.0.0.1:8000/politics/>Politics</a>
                </li>
                <li>
                    <a href=http://127.0.0.1:8000/finance/>Finance</a>
                </li>
				<li>
                    <a href="#">Society</a>
                </li>
				<li>
                    <a href="#">Environment</a>
                </li>
                <li>
                    <a href="#">Entartainment</a>
                </li>
                <li>
                    <a href="#">Technology</a>
                </li>
				                <li>
                    <a href="#">Sports</a>
                </li>
				                <li>
                    <a href="#">Lifestyle</a>
                </li>
 

            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Timeline Summarization

                </h1>
            </div>
        </div>
        <!-- /.row -->

	<form action="/timeline/" method="post">
		{% csrf_token %}
		<input type="text" name="q">
		<input type="submit" value="Submit">
	</form>



	{% for result in rlt %}

		{{result.pub_date|date:"Y / m / d"}}
		{{result.title}}

		{% if result.photo %}
			<div class="thumbnail">
			    <img class="image-resonsive" src={{ result.photo }} alt="">
			</div>
		{% else %}
			<div class="thumbnail thumbnail-default"></div>
		{% endif %}

	{% endfor %}

	{% if messages %}
	<ul class="messages">
		<h1>Result</h1>
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

	</div>

<!-- 	<div class="row">
	{% for result in rlt %}
		{% for quote in result.quotation %}
			{{quote |linebreaks}}
		{% endfor %}
	{% endfor %}
	</div>
	
	<div class="row">
	{% for result in rlt %}
		{% for speaker in result.speaker %}
			{{speaker |linebreaks}}
		{% endfor %}
	{% endfor %}
	</div>  --> 


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; HKUST FYP Elvis & Jackson 2016 </p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
